{% if article.title.lower() == "index" %}
{% else %}
<article id="{{ article.slug }}" class="schedule__item" style='background:  black ; background-image:url("");background-position: center;background-size:100%;' data-color="{{ article.color }}">
  {% if article.key_image %}
  <figure class="schedule__picture-background"><img src="/images/{{ article.key_image }}" class="{% if article.key_image|processable_image %}image-process-timeline{% endif %}" /></figure>
  {% endif %}
  <!-- <article id="{{ article.slug }}" class="schedule__item" style='background: -webkit-linear-gradient({{ article.date|strftime('%d%m') }}deg, {{ article.color }} 0%, transparent 70%); background: linear-gradient({{ article.date|strftime('%d%m') }}deg, {{ article.color }} 0%, transparent 70%); top: 100%, url("/images/damier.png"); top: 0;' data-color="{{ article.color }}"> -->
    <header class="schedule__header" style="color:white; ">
      <h1 class="schedule__title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}"  style="-webkit-text-stroke:2px {{ article.color }}; text-stroke:2px {{ article.color }}; color:black;">{{ article.title }}</a></h1>
      <p class="schedule__category">
      {% if article.category %}
        {% if article.category == "saison-18-19" %}
          {% else %}
            <a href="/{{article.category.url}}">{{article.category}}</a>
          {% endif %}
      {% endif %}
      </p>
      <p class="schedule__authors">
      {% if article.piece_authors %}
          {% for author in article.piece_authors %}{% if loop.index > 1 %}/&#8203;{% endif %}{{ author }}{% endfor %}
      {% else %}
          {{ article.piece_author }}
      {% endif %}
      </p>

        <ul class="schedule__dates">
        {% for date in article.dates %}
            <li>
                <time class="{%if loop.first %}start-date{% endif %}" datetime="{{ date.date }}">{{ date.date|strftime('%d.%m') }}</time>
                {% if date|is_date_range %}
                &nbsp;&rarr;&nbsp;<time class="{% if loop.last %}end-date{% endif  %}" datetime="{{ date.end_date }}">{{ date.end_date|strftime('%d.%m') }}</time>
                {% endif %}
            </li>
        {% endfor %}
        </ul>

        <!-- {% if article.key_image %}
        <p class="schedule__main-image"><img src="/images/{{ article.key_image }}" class="{% if article.key_image|processable_image %}image-process-timeline{% endif %}" alt="Main image for {{ article.title }}"></p>
        {% endif %} -->

        {% if article.reservation_link %}
          {% if article.in_default_lang %}
            <a class="schedule__booking" href="{{ article.reservation_link }}">Réserver</a>
          {% else %}
            <a class="schedule__booking" href="{{ article.reservation_link }}">Reservation</a>
          {% endif %}
        {% endif %}
    </header>
</article>
{% endif %}
