<!DOCTYPE html>
<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">
    <meta name="author" content="Balsamine">
	<meta name="developers" content="Open Source Publishing">
	<meta name="keywords" content="arts, arts vivants, performances, evenements, location, bruxelles, schaerbeek, belgique, theatre, danse,">
	<meta name="description" content="La Balsamine, Avenue Félix Marchal, 1 1030 Bruxelles | Réservations: +32 2 735 64 68 E-mail: info@balsamine.be">

    <meta property="og:title" content="Théâtre La Balsamine"/>
    <meta property="og:description" content="Performance Art Theatre in Schaerbeek | La Balsamine, un théâtre pluridisciplinaire soutenant la création."/>

    <link rel='shortcut icon' type='image/png' sizes='32x32' href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/favicon32.png'>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/perfect-scrollbar.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    <!-- <link rel="stylesheet" href="http://sorgalla.com/jcarousel/examples/basic/jcarousel.basic.css"> -->
    {% endblock head %}
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.balsamine.be"]);
    _paq.push(["setDomains", ["*.balsamine.be"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.balsamine.be/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//stats.balsamine.be/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>

<body id="page-{% if page %}{{ page.slug }}{% endif %}{% if article %}{{ article.slug }}{% endif %}">

    <header class="main-header">
        <a class="home-logo" href="{{ SITEURL }}/"><img class="logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/logo-balsa-18-19-noir-sans-cadre.png"></a>
        <nav class="main-nav">
            <ul class="main-menu">
                {% for title, link in MENU_ITEMS %}
                    <li><a href="/{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="secondary">
          <span class="newsletter"><a href="#">✉</a></span>
          <form class="subscribe-desktop" action="subscribe.php" method="get">
              <input class="subscribe__email-desktop" type="email" placeholder="S’inscrire à la newsletter" required name="email" value="">
              <input class="subscribe__ok-desktop" type="submit" value="Ok">
          </form>
          <span class="address">
            <a href="/pratique.html#acces">Théâtre La Balsamine, Avenue Félix Marchal, 1 1030 Bruxelles</a></span>
        </div>
    </header>

    <main data-role="page" class="main-area">
        <div class="main-content ume-js">
        {% block content %}
        {% endblock %}
        </div>

        {% block sidebar %}
        <section class="schedule">
            <div class="schedule__head">
                    <!-- <h1>Saison 18–19: Économe</h1><a class="edito-toggle" href="#">Édito<span class="down">&darr;</span><span class="up">&uarr;</span></a>
                    <div class="edito">
                    <p>Une saison qui fait l’économie de tout sauf de la créativité et du partage qui peuvent se développer sans limites. Une sobriété heureuse, colorée, inclusive, rationnelle, minimale et performante à la fois. Une saison en phase avec notre temps de la décroissance, de l’économie circulaire, du « smart », du modulable.</p>
                    <p>En ces temps où le développement durable n’est plus une mode mais une indispensable nécessité, il est temps de questionner l’ensemble de nos choix. Qu’est-ce qui est fondamental dans notre quotidien et comment plaçons-nous dès lors notre énergie sur ce qui émerge …</p>
                    <p>Une saison à éplucher sans modérations pour avoir la patate !</p>
                    </div> -->
            </div>
            <div data-position="right" id="schedule" class="schedule__list">
                {% for article in articles %}
                    {% include 'partials/event.html' %}
                {% endfor %}
            </div>

            <div class="schedule__timeline timeline"></div>
        </section>
        {% endblock %}

    </main>


    <footer class="main-footer">
      <span class="telephone">
            <span class="administration"><span class="tel-detail">Téléphone:</span> <a href="tel:+32 2 732 96 18">02 732 96 18</a></span>
            <span class="tel"><span class="tel-detail">Réservations:</span> <a href="tel:+32 2 735 64 68">02 735 64 68</a></span>
        </span>
      <span class="address" translate="no">
          <a href="/pratique.html#acces">
              <span class="person">Théâtre la Balsamine</span>
              <span class="street">1 Avenue Félix Marchal</span>
              <span class="zip">1030 Bruxelles</span>
          </a>
        </span>
      <a class="enveloppe" title="newsletter" href="#">
        <img class="envlp" src="/{{ THEME_STATIC_DIR }}/imgs/enveloppe.svg" >
        <img class="envlp envlp-small" src="/{{ THEME_STATIC_DIR }}/imgs/enveloppe-small.svg" >
      </a>
      <section class="subscription-wrapper">
          <form id="subscribe" action="https://balsamine.billetterie.it/lists/?p=subscribe" method="post" accept-charset="utf-8">
            <!-- <input type="text" placeholder="Nom" name="nom" value="" />
            <input type="text" placeholder="Prénom" name="prenom" value="" />
            <input type="text" placeholder="Email" name="courriel" value="" /> -->
            <input type="text" placeholder="Email" name="courriel" value="" />
            <input type="text" placeholder="Email (confirmation)" name="courrielconfirm" value="" />
            <input type="hidden" name="htmlemail" value="1">
            <input type="hidden" name="list[2]" value="signup">
            <input type="hidden" name="listname[2]" value="newsletter" />
            <input type="hidden" name="subscribe" value="Subscribe" />

            <input type="submit" value="s’inscrire">
        </form>
      </section>
      <nav class="social-links">                                                    
            <a class="social-link" href=" {{ FACEBOOK }}"><img class="logo-social" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/icon-facebook.svg"></a>
            <a class="social-link" href=" {{ TWITTER }}"><img class="logo-social" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/icon-twitter.svg"></a>
            <a class="social-link" href=" {{ INSTAGRAM }}"><img class="logo-social" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/icon-instagram.svg"></a>
        </nav>

        <!-- <form class="subscribe" action="subscribe.php" method="get"> -->
        <!--     <input class="subscribe__email" type="email" placeholder="S’inscrire à la newsletter" required name="email" value=""> -->
        <!--     <input class="subscribe__ok" type="submit" value="Ok"> -->
        <!-- </form> -->

    
    </footer>

    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-2.2.4.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.jcarousel.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-ui.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.mobile-events.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/moment.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/moment-timezone-with-data.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/table.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/umejs-min.js"></script>
</body>
</html>
