{% extends "index.html" %}
{% block sidebar %}
<section class="schedule">
    <div class="schedule__head">
        <h1>Saison 17–18: en toute impudence</h1><a class="edito-toggle" href="#">edito<span class="down">&darr;</span><span class="up">&uarr;</span></a>
        <div class="edito">
          <p>Et voici que vient 17-18.</p>
          <p>Une saison qui  s’est construite en toute impudence, en toute imprudence. Un vent de passion, un soupçon d’effronterie.</p>
          <p>Les artistes ont le courage d’une folie qui fait résister. Ils assument et portent une parole, ils montrent leur colère et débattent pour l’avenir. Aujourd’hui, la Balsamine devient plus que jamais, un lieu de solidarité où la culture se vit ensemble et se partage. Artistes et spectateurs s’unissent pour porter un projet commun et bataillent pour une culture du non-marchand.</p>
          <p>Appel à la vivacité, à l’effronterie du rêve, de l’imaginaire, de la pensée vagabonde. Appel à l’insolence de l’exigence, de l’engagement.</p>
          <p>Foncez, spontanément, dans cette saison culottée qui ne requiert aucun code à intégrer pour bien se conduire.</p>
        </div>
    </div>
    <div data-position="right" id="schedule" class="schedule__list">
        {% for article in all_articles %}
            {% include 'partials/event.html' %}
        {% endfor %}
    </div>

    <div class="schedule__timeline timeline"></div>
</section>
{% endblock %}

{% block content %}
<article class="show-detail content">
  <header class="show-detail__header">
  <h2>{{ category }}</h2>
  <ul>
  {% set indexname = "index_" + category.slug %}
  {% for article in articles | reverse %}
  {% if article.slug == indexname %}
  {% else %}
    <li>
      <p class="schedule__title"><a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></p>
      <p class="schedule__authors">{{article.piece_author}}</p>
      <p class="">{{ article.locale_date }}</p>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
  </header>

  <section>
    <div class="show-detail__body">
{% for article in articles | reverse %}

{% if article.slug == indexname %}
    {{article.content}}
    <br>
{% else %}
      <div>
      <p class="schedule__title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
      <p class="schedule__authors">{{ article.piece_author }}</p>
      <p class="schedule__date"><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time></p>
      <div class="dddd"><p class="production"> {{ article.summary }} </p></div>
      </div>
      <br>
{% endif %}
{% endfor %}

</div>
</section>

</article>
{% endblock %}
