{% extends "base.html" %}

{% if page.lang %}
{% block lang %}{{ page.lang }}{% endblock %}
{% endif %}

{% block title %}{{ page.title }} | Balsamine {% endblock %}

{% block content %}
<article class="page-detail content">
  <header class="page-detail__header">
      <h1>{{ page.title }}</h1>
      {% if page.subhead %}<h2>{{ page.subhead }}</h2>{% endif %}
      {% if page.subsubhead %}<h3>{{ page.subsubhead }}</h3>{% endif %}

      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(page) }}
  </header>

  <div class="page-detail__body">
    {{ page.content }}
    </div>
</article>
{% endblock %}
